@use "variables" as vars;
@use "mixins" as mix;

.excel__formula {
  position: absolute;
  left: 0;
  right: 0;
  top: vars.$header-height + vars.$toolbar-height;
  height: vars.$formula-height;
  display: flex;
  align-items: center;
  border-bottom: vars.$border;
  .info {
    font-size: 18px;
    text-align: center;
    font-style: italic;
    border-right: vars.$border;
    min-width: vars.$info-cell-width;
  }
  .input {
    padding: 4px;
    font-size: 12px;
    outline: none;
    width: 100%;
    height: 100%;
    color: black;
  }
}
