@use "header";
@use "toolbar";
@use "formula";
@use "table";
@use "dashboard";

@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import "~normalize.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: "Roboto", serif;
  font-size: 12px;
}

.excel {
  position: relative;
  color: #888;
  height: 100%;
  max-width: 100%;
  font-size: 0.8rem;
}
